[user]
	name = Cowation
	email = cow2cow4cow@gmail.com
	signingkey = B4617FBCBC45B742
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
